{% extends 'base.html'%} 
{%block title%} 
    Autore
{%endblock title%} 
{%block content%}
    <h4>Autore: {{ autore }}</h4>
    <h4>Nazione: {{ autore.nazione }}</h4>
    <br>
        {% for libro in autore.libri.all %} 
            <p><strong>Titolo: </strong>{{ libro.titolo }}</p>
            <p><strong>Genere: </strong>{% for genere in libro.genere.all %}{{ genere }} {% endfor %}</p>
            <p><strong>ISBN: </strong>{{ libro.isbn }}</p>
            <hr>
        {% endfor %}
{%endblock content%}